.body {
    background-color: bisque;
}
#navIndexDestination {
    padding: 19px;
    background-color: white;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 42px !important;
}
#destination {
    font-size: 85px;
    letter-spacing: 14px;
}
#navIndexCarousel {
    background-color: white;
    padding: 20px;
}